<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Page</title>
  <link rel="stylesheet" href="../css/welcome.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="content">
    <h1>Здесь становятся Java-программистами</h1>
    <div class="buttons">
      <a href="/welcome/last-step" class="start-btn">Начать</a>
      <a href="/users/login" class="account-btn">У меня уже есть аккаунт</a>
    </div>
  </div>
  <div class="image-section">
    <img src="../images/java-laptop.png" alt="Java Programming" class="laptop-image">
  </div>
</div>
</body>
</html>
